@import './colors';

.folder-div{
    padding-left:20px;
    width: 100%;
    color: $white;
}

.subfolder-div{
    width: 100%;
}

.show{
    display: block;
}

.hide{
 display: none;
}
a{
    width:100%;
    color: $white;
}